<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VersionChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VersionChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <VersionChanger.Properties.Settings>
            <setting name="pathArma" serializeAs="String">
                <value />
            </setting>
            <setting name="pathLatest" serializeAs="String">
                <value />
            </setting>
            <setting name="pathStable" serializeAs="String">
                <value />
            </setting>
        </VersionChanger.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <VersionChanger.Properties.Settings>
            <setting name="hashLatest" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>226d0e9d0383c34ae5021e70b3b029c9</string>
                        <string>93d6d18e2fc3aca51d51d1763d1a1939</string>
                        <string>226d0e9d0383c34ae5021e70b3b029c9</string>
                        <string>78dea937024036e97979df1aa6c76531</string>
                        <string>8c0825ef30627a82dba0031e97354748</string>
                        <string>93d6d18e2fc3aca51d51d1763d1a1939</string>
                        <string>cbdd0d7c8cce5927199522a103b487cc</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="hashStable" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>226d0e9d0383c34ae5021e70b3b029c9</string>
                        <string>93d6d18e2fc3aca51d51d1763d1a1939</string>
                        <string>226d0e9d0383c34ae5021e70b3b029c9</string>
                        <string>78dea937024036e97979df1aa6c76531</string>
                        <string>8c0825ef30627a82dba0031e97354748</string>
                        <string>93d6d18e2fc3aca51d51d1763d1a1939</string>
                        <string>cbdd0d7c8cce5927199522a103b487cc</string>
                    </ArrayOfString>
                </value>
            </setting>
        </VersionChanger.Properties.Settings>
    </applicationSettings>
</configuration>